@font-face {
    font-family: sf_pro;
    src: url(./elements/sf_pro_bold.OTF);
}

@font-face {
    font-family: sf_pro_light;
    src: url(./elements/sf_pro_light.OTF);
}

*{
    font-family: "sf_pro";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::selection {
    color: #007aff;
    background-color: rgba(255, 255, 255, 0.568627451);
}

.fondo {
    background: rgb(255,186,169);
    background: -moz-radial-gradient(circle, rgba(255,186,169,1) 0%, rgba(251,127,127,1) 46%, rgba(254,83,18,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(255,186,169,1) 0%, rgba(251,127,127,1) 46%, rgba(254,83,18,1) 100%);
    background: radial-gradient(circle, rgba(255,186,169,1) 0%, rgba(251,127,127,1) 46%, rgba(254,83,18,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffbaa9",endColorstr="#fe5312",GradientType=1);}

.cotizador{
    margin-top: 2rem;
    background-color: white;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.titulo{
    font-family: 'Unbounded', sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #e02a3e;
}

.form-label{
    font-family:"sf_pro_light";
}

.logo-novogar{
    width: 100px;
    padding: .5rem;
}

footer{
    padding: 1rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;    
}

footer > a{
    font-family: 'Unbounded', sans-serif; 
    text-decoration: none;
    color: grey;
    transition: .5s;
}

footer > a:hover{
    text-decoration: underline;
    color: red;
}

.logo-foot{
    width: 300px;
}

.info{
    font-family: 'Unbounded', sans-serif;
    font-weight: 900;
    font-size: 1rem;
    text-align: center;
    color: #e02a3e;
    margin: 0;
}

.total{
    color: #028c00;
}

.aforado{
    color:white;
    background-color: black;
    padding: .2rem;
    border-radius: 10px;
    text-align: center;
}

.resultado{
    font-family: 'Unbounded', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    text-align: center;
    color: #e02a3e;
    margin: 0;
}

.con-iva{
    background-color: #ffd00092;
    border-radius: 10px;
}

.tarifa{
    text-align: center;
    margin-top: .5rem;
}

.fake{
    color: #e02a3e;
    text-decoration: line-through;
}
