@font-face {
    font-family: sf_pro;
    src: url(./elements/sf_pro_bold.OTF);
}

@font-face {
    font-family: sf_pro_light;
    src: url(./elements/sf_pro_light.OTF);
}

*{
    font-family: "sf_pro";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ol, ul{
    padding: 0;
}

li{
    list-style-type: none;
}

*::selection {
    color: #007aff;
    background-color: rgba(255, 255, 255, 0.568627451);
}

.fondo {
    background: rgb(255,186,169);
    background: -moz-radial-gradient(circle, rgba(255,186,169,1) 0%, rgba(251,127,127,1) 46%, rgba(254,83,18,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(255,186,169,1) 0%, rgba(251,127,127,1) 46%, rgba(254,83,18,1) 100%);
    background: radial-gradient(circle, rgba(255,186,169,1) 0%, rgba(251,127,127,1) 46%, rgba(254,83,18,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffbaa9",endColorstr="#fe5312",GradientType=1);}

.cotizador{
    margin-top: 2rem;
    background-color: white;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.titulo{
    font-family: 'Unbounded', sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #e02a3e;
}

.form-label{
    font-family:"sf_pro_light";
}

.logo-novogar{
    width: 100px;
    padding: .5rem;
}

footer{
    padding: 1rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;    
}

footer > a{
    font-family: 'Unbounded', sans-serif; 
    text-decoration: none;
    color: grey;
    transition: .5s;
}

footer > a:hover{
    text-decoration: underline;
    color: red;
}

.logo-foot{
    width: 300px;
}

.info{
    font-family: 'Unbounded', sans-serif;
    font-weight: 900;
    font-size: 1rem;
    text-align: center;
    color: #e02a3e;
    margin: 0;
}

.total{
    color: #028c00;
}

.aforado{
    color:white;
    background-color: black;
    padding: .4rem;
    border-radius: 10px;
    text-align: center;
}

.resultado{
    font-family: 'Unbounded', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    text-align: center;
    color: #e02a3e;
    margin: 0;
}

.con-iva{
    border: 2px solid #e02a3e;
    border-radius: 10px;
    color: #e02a3e;
}

li.total{
    color: black;
    list-style-type: none;
}

.tarifa{
    text-align: center;
    margin-top: .5rem;

}

.fake{
    color: #e02a3e;
    text-decoration: line-through;
}
.totalIva{
    color: yellow;
    background-color: #000000;
    padding: .4rem;
    border-radius: 10px;
    list-style-type: none;
    text-align: center;
}

.contenedoropcionales{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.opcionales{
    padding: 1.2rem;
    display: flex;
    background-color: #e02a3e;
    gap: 1rem;
    border-radius: 10px;
    color: white;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.spanContenedor{
    color: white;
    background-color: #000000;
    padding: .3rem;
    border-radius: 10px;
}

.spanContenedor p{
    margin: 0;
}

/*! SPINNER */
.loader {
    color: #333;
    font-family: Consolas, Menlo, Monaco, monospace;
    font-weight: bold;
    font-size: 2rem;
    opacity: 0.8;
    display: none;
  }
  .loader:before {
    content: "{Cotizando";
    display: inline-block;
    animation: pulse 0.4s alternate infinite ease-in-out;
  }
  .loader:after {
    content: " Envío 🚚}";
    display: inline-block;
    animation: pulse 0.4s 0.3s alternate infinite ease-in-out;
  }

  @keyframes pulse {
    to {
      transform: scale(0.8);
      opacity: 0.5;
    }
  }
.totalT{
    background-color: beige;
    padding: 1rem;
    border-radius: 10px;
}

.parcel{
    width: 150px;
}

#resultado{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}